@model IEnumerable<BoxProblem.Data.BoxInventory>

@{
    ViewData["Title"] = "Index";
}
<div style="margin-left: 6%">
    <div style="display: inline-block; width: 10%; margin-right: 3%; ">
        <hr />
        <hr />
        <hr />
    </div>
    <div style="display: inline-block; border: 3px solid black; transform: translateY(-30px); padding-left:5%; padding-right:5%;">
        <h2 class="Name">BOX COMPANY</h2>
    </div>
    <div style="display: inline-block; width: 10%; margin-left: 3%;">
        <hr />
        <hr />
        <hr />
    </div>
</div>
<div class="centereverything">
    <button class="btn-center" style="color: black" type="button" onclick="location.href = 'Box/Create';">Create</button>
    <div class="Searchbar">
        <form action="~/Box/Search" method="post">
            <input name="weight" placeholder="Weight (below than input)" type="number" min="0" />
            <input name="volume" placeholder="Volume" type="number" min="0" />
            <input name="canHoldLiquid" placeholder="Liquid? (True/False)" />
            <input name="cost" placeholder="Cost (less than input)" type="number" min="0.0" />
                <input class="btn-center" style="color: black" type="submit" name="Submit" />
        </form>
        <form action="~/Box" method="post">
                <input class="btn-center" style="color: black" type="submit" name="submit" value="Reset" />
        </form>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanHoldLiquid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventoryCount)
    </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr class="row-bro">
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanHoldLiquid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>

    </tr>
    }

</table>